
/* Другой вариант подключения шрифтов */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap'); */

html {
    height: 100%;
}
    
body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    padding: 0;
    margin: 0;  
    height: 100%;  
}

a {
    color: inherit;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0%;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* .main-page-wrapper { */
    /* background: url("./img/elephant.png") center top no-repeat, url("./img/men.png") center bottom 182px no-repeat; */
/* } */

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    /* min-width: 672px; */
}

.container {
    margin: 0px auto;
    max-width: 1141px;
    padding: 0px 10px;
    box-sizing: content-box;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 530px;
}

@media (max-width: 1024px) {
    .hero__container {
        min-height: 430px;
    }
} 

@media (max-width: 520px) {
    .hero__container {
        min-height: 330px;
    }
} 

.header {
    padding-top: 26px; 
    margin-bottom: 30px;
    display: flex;
    /* display: block; */
    justify-content: space-between;
    align-items: flex-start;
    max-height: 65px;
    z-index: 10;
}

.header__col {
    display: flex;
    /* display: block; */
    clear: none;
    float: left;
    align-items: center;
}

/* .header__col--align--right {
    justify-content: flex-end;
} */

.logo {
    top: 29px;
    left: 0;
    min-width: 85px;
    height: 36px;
    /* margin-right: 79px; */
}

.logo__img {
    width: 85px;
    height: 36px;
}

.menu {
    margin: 0 0 0 79px;
    max-width: 351px;
}

@media (max-width: 719px) {
    .menu {
        margin: 0 0 0 50px;
    }
}

@media (max-width: 547px) {
    .menu {
        margin: 0 0 0 30px;
    }
}

@media (max-width: 483px) {
    .menu {
        margin: 0 0 0 15px;
    }
}

@media (max-width: 424px) {
    .menu {
        margin: 0 0 0 36px;
    }
}

@media (max-width: 345px) {
    .menu {
        margin: 0 0 0 18px;
    }
}

.menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 424px) {
    .menu__list {
        flex-direction: column;
    }
}

.menu__item {
    /* display: inline-block; */
    /* vertical-align: middle; */
    margin-right: 51px;
}

@media (max-width: 654px) {
    .menu__item {
        margin-right: 30px;
    }
}

@media (max-width: 547px) {
    .menu__item {
        margin-right: 15px;
    }
}

@media (max-width: 483px) {
    .menu__item {
        margin-right: 10px;
    }
}

.menu__item--active {
    color:#DA0100;
}

/* .menu__item:last-child {
    margin-right: 0;
} */

.menu__link {
    font-size: 14px;
    text-decoration: none;  
}

/* @media (max-width: 479px) {
    .menu__link {
        font-size: 16px;
    }
} */

.menu__link:hover {
    color:#DA0100;
    transition: 0.8s;
}

.contacts {
    display: flex;
    flex-direction: column;
    font-style:normal;
    text-align: right;
    min-width: 192px;
}

@media (max-width: 591px) {
    .contacts {
        min-width: 148px;
    }
}

@media (max-width: 483px) {
    .contacts {
        min-width: 120px;
    }
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: -8px;
}

@media (max-width: 719px) {
    .contacts__phone {
        font-size: 22px;
    }
}    

@media (max-width: 591px) {
    .contacts__phone {
        font-size: 20px;
    }
}

@media (max-width: 483px) {
    .contacts__phone {
        font-size: 16px;
    }
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
}

.contacts__description {
    color: #9A9A9A;
    font-size: 11px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .contacts__dropdown-title {
    color: #FFFFFF;
}

.dropdown:hover .dropdown__all {
    right: 0;
    opacity: 0.8;
}

.dropdown__all {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 158px;
    height: 76px;
    /* margin-left: 32px; */
    top: 100%;
    right: -99999px;
    opacity: 0;
    transition: opacity 0.8s;
}

.dropdown__triangle {
    border: 8px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #CDD1D2;
    border-top-width: 0;
    border-left-width: 11px;
    border-right-width: 11px;
    margin-left: 127px;
}

.dropdown__menu {
    background: #CDD1D2;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 12px 17px;
    font-size: 13px;
    font-weight: bold;
    line-height: 21px;
    align-items:flex-start;
    color: #1E1F20;
}
/* ------------------------------------------------------------------------------------------------- */
/*  -- BURGER MENU 2 -- */
  
  .mobmenu-burger {
    display: block;
    z-index: 3;
    clear: none;
    }

  .mobmenu-burger ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: #001821;
    opacity: 0.9;
  }

  .mobmenu-burger li {
    display: block;
    padding: 8px 8px;
    /* border-bottom: 0.5px solid #fff;; */
    text-decoration: none;
    font-size: 14px;
  }

  .mobmenu-burger li:nth-child(3) {
    border-bottom: 0.2px solid #CDD1D2;
  }

  .mobmenu-burger .mobmenu {
    clear: both;
    max-height: 0;
    transition: max-height .5s ease-out;
  }
  
  /* menu icon */
  
  .mobmenu-burger .mobmenu-icon {
    cursor: pointer;
    display: inline-block;
    object-position: right;
    float: right;
    padding: 18px 10px 20px 10px;
    position: relative;
    user-select: none;
  }
  
  .mobmenu-burger .mobmenu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 22px;
    border-radius: 3px;
  }
  
  .mobmenu-burger .mobmenu-icon .navicon:before,
  .mobmenu-burger .mobmenu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    border-radius: 3px;
  }
  
  .mobmenu-burger .mobmenu-icon .navicon:before {
    top: 6px;
  }
  
  .mobmenu-burger .mobmenu-icon .navicon:after {
    top: -6px;
  }

/* mobmenu btn */

  .mobmenu-burger .mobmenu-btn {
    display: none;
  }

  .mobmenu-burger .mobmenu-btn:checked ~ .mobmenu {
    max-height: 253px;
  }
  
  .mobmenu-burger .mobmenu-btn:checked ~ .mobmenu-icon .navicon {
    background: transparent;
  }
  
  .mobmenu-burger .mobmenu-btn:checked ~ .mobmenu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .mobmenu-burger .mobmenu-btn:checked ~ .mobmenu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .mobmenu-burger .mobmenu-btn:checked ~ .mobmenu-icon:not(.steps) .navicon:before,
  .mobmenu-burger .mobmenu-btn:checked ~ .mobmenu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  @media (min-width: 426px) {
    .mobmenu-burger {
        display: none;
    }
  }

  @media (max-width: 425px) {
    .header {
        display: block;
        /* max-height: 65px; */
    }
    
    .header__col {
        display: block;
        /* clear: none; */
        float: left;
        /* align-items: center; */
    }
  }

.hero {
    background: url("./img/elephant.png") center top no-repeat; 
    /* center top no-repeat; */
    padding-bottom: 469px;
}

@media (max-width: 1024px) {
    .hero {
        background: url("./img/elephant.png") center top / cover no-repeat; 
    }
}

.hero__text-section {
    width: 51%;
    /* margin-bottom: 251px; */
}

.hero__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 137%;
    margin-bottom: 24px;
}

@media (max-width: 1024px) {
    .hero__title {
        font-size: 50px;
        max-width: 400px;
    }
}

@media (max-width: 728px) {
    .hero__title {
        line-height: 118%;
    }
}

@media (max-width: 519px) {
    .hero__title {
        font-size: 40px;
    }
}
    
.hero__subtitle {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 31px;
}


@media (max-width: 425px) {
    .hero__title {
        font-size: 36px;
    }
    .hero__subtitle {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .menu__list {
        display: none;
    }
    .header__col--align--right {
        display: none;
    }
    /* .mobmenu-trigger {
        display: block;
    } */
}

@media (max-width: 345px) {
    .hero__container {
        min-height: 300px;
    }
    .hero__title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .hero__subtitle {
        font-size: 14px;
        margin-bottom: 16px;
    }
}

.btn {
    display: inline-block;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: auto;
    position: relative;
}

/* .btn--color--red:after {
    display: block;
    position: absolute;
    content: "Подробнее";
    background:#DA0100;
    box-shadow: 0px 2px 4px 0px #DA01004D;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 18px 40px;
    border-radius: 35px;
    transition: 1.5s;
    opacity: 0;
} */

.btn--color--red:hover {
    background:#DA0100;
    box-shadow: 0px 2px 4px 0px #DA01004D;
    transition: 0.8s;
 }

.btn--color--white {
    background:#FFFFFF;
    border: 1px solid #F5170E;
    padding: 16px 30px;
    color: #F5170E;
}

.btn--color--white:hover {
    background: #F5170E;
    box-shadow: 0px 2px 4px 0px #DA01004D;
    color: #FFFFFF;
    transition: 0.8s;
}

.btn--color--black {
    background: #8E8E8E;
    padding: 18px 46px;
}

.btn--color--black:hover {
    background: #2B2B2B;
    transition: 0.8s;
}
/* --------------------------------------------------------------------------------------------------- */

/* -- HOT TOURS -- */

.hot-tours {
    margin-bottom:126px;
    margin-top: -217px;
}

@media (max-width: 1024px) {
    .hot-tours {
        margin-top: -320px;
        margin-bottom: 60px;
    }
}

.hot-tours__title {
    height: 36px;
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-bottom: 59px;
}

.hot-tours__text {
    font-size: 36px;
    font-weight: bold;
    line-height: 100%;
    margin-right: 15px;
}

/* .hot-tours__icon {
    height: 28px;
} */

.hot-tours__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hot-tours__item {
    min-height: 447px;
    background: #FFFFFF;
    border-radius: 5px;
    width: calc(100% / 3 - 19px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* .hot-tours__item:last-child {
    margin-right: 0;
} */

.hot-tours__image-wrapper {
    min-height: 144px;
    margin-bottom: 1px;
}

.hot-tours__content {
    padding: 26px 22px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 296px;
}

.btn--color--white:nth-child(3) {
    align-self: center;
}

.hot-tours__content-title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 19px; 
}

.hot-tours__info {
    margin-bottom: 23px;
}

.hot-tours__info-image {
    display:inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.hot-tours__dates-meal { 
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #666666;
    margin-right: 16px;
}



.hot-tours__description {
    font-size: 14px;
    line-height: 21px;
    color: #303030;
    margin-bottom: 19px; 
}

@media (max-width: 1086px) and (min-width: 532px) {
    .hot-tours__title {
        justify-content: center;
    }
    .hot-tours__list {
        flex-direction: column;
        /* justify-content: space-evenly; */
    }
    .hot-tours__image-wrapper {
        min-height: 144px;
        margin-bottom: 0px;
    }
    .hot-tours__image {
        height: 100%;
        object-fit: cover;
    }
    .hot-tours__item {
        flex-direction: row;
        width: auto;
        min-height: 144px;
        margin:0px 10px 24px 10px;
    }
    .hot-tours__content-info {
        display: flex;
        flex-direction: column;
    }
    .hot-tours__content-title {
        margin-bottom: 10px;
    }

    .hot-tours__info {
        display: flex;
        flex-wrap: wrap;
        min-width: 160px;
    }
    .hot-tours__info-image {
        margin-bottom: 6px;
    }
    .hot-tours__description {
        min-width: 177px;
    }
    .hot-tours__content {
        padding: 10px 10px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 144px;
        max-height: 144px;
    }
    .btn--color--white {
        margin-top: 0;
    }
}

@media (max-width: 767px) and (min-width: 532px) {
    .hot-tours__image-wrapper {
        display: none;
    }
    /* .hot-tours__item {
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        min-height: 300px;
        margin:0px 19px 24px 19px;
} */
}

@media (max-width: 531px) {
    .hot-tours__title {
        justify-content: center;
        margin-bottom: 28px;
    }
    .hot-tours__list {
        flex-direction: column;
        align-items: center;
    }
    .hot-tours__item {
        width: auto;
        max-width: 361px;
        margin: 0px 0px 24px 0px;
        min-height: 408px;
    }
    .hot-tours__info {
        margin: 0 0 15px;
    }
    .hot-tours__content {
        justify-content: flex-start;
        padding: 22px 22px;
        min-height: 200px;
    }
    .hot-tours__content-title {
        margin: 0 0 15px;
    }
    .hot-tours__description {
        margin: 0 0 15px;
    }
    .btn--color--white {
        margin-top: 0;
    }
}

@media (max-width: 424px) {
    .hot-tours__text {
        font-size: 32px;
    }
}

@media (max-width: 345px) {
    .hot-tours__text {
        font-size: 28px;
    }
}

@media (max-width: 358px) {
    .hot-tours__item {
        min-width: 300px;
        margin: 0px 0px 24px 0px;
    }
    .hot-tours__title {
        justify-content: center;
        margin-bottom: 26Fpx;
    }
    .hot-tours__dates-meal { 
        font-size: 14px;
        margin-right: 8px;
    }
    .hot-tours__image-wrapper {
        min-height: 120px;
    }
    .btn--color--white {
        margin-top: 0;
    }
}

/* ------------------------------------------------------------- */

/* -- NEWS -- */

.news {
    margin-bottom: 146px;
    z-index: 1;
}

.news__title {
    font-size: 36px;
    font-weight: bold;
    left: 3px;
    margin-bottom: 51px;
}

.news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 52px;
}

.news__item {
    min-height: 393px;
    vertical-align: top;
    /* width: 557px; */
    margin: 0 10px 0 10px;
    flex: 1;
}

.single-news {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
/* .news__item:last-child {
    margin-right: 0;
} */

.single-news__cover {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-news__text-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 26px 30px;
    min-height: 166px;
}

.single-news__date {
    font-size: 14px;
    margin-bottom: 12.5px;
}

.single-news__text-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.single-news__text {
    font-size: 16px;
}

.news-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

/* .news-paginator__display, .news-paginator__list {
    display: inline-block;
    vertical-align: middle;
} */

.news-paginator__display {
    margin-right: 25px;
}

.news-paginator--theme--dark {
    color:#000000;
}


/* .news-paginator__item {
    display: inline-block;
    vertical-align: middle;
} */
.news-paginator__list {
    display: flex;
    align-items: center;
} 

.news-paginator__item {
    text-align: center;
}

.news-paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position:relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.news-paginator__item--active .news-paginator__link {
    background: #FFFFFF;
    color:#F5170E;
}

.news-paginator__link:hover {
    background: #FFFFFF;
    color:#F5170E;
    transition: 0.5s;
}

.news-paginator--theme--dark .news-paginator__item--active .news-paginator__link {
    color:#F2F2F2;
    background: #F5170E;
}

.news-paginator--theme--dark .news-paginator__link:hover {
    color:#F2F2F2;
    background: #F5170E;
    transition: 0.5s;
}

@media (max-width: 1086px) {
    .news__title {
        text-align: center;
        margin: 0 0 30px;
    }
    .news__list {
        justify-content: center;
    }
    .news__item {
        margin: 0 8px 30px 8px;
    }
    .single-news {
        min-width: 359px;
        max-width: 559px;
    }
    /* .single-news__cover:nth-child(1) {
        object-position: right;
    } */

    /* .single-news__cover {
        object-fit:none;
    } */
}

/* @media (max-width: 768px) {
    .news__list {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
} */
/* @media (max-width: 640px) {
    .single-news {
        min-width: 400px;
    }
} */


@media (max-width: 425px) {
    .news__title {
        margin-bottom: 20px;
    }
    .news__list {
        margin-bottom: 20px;
    }
    .news__item {
        min-height: 300px;
        min-width: 300px;
    }
    .single-news__cover {
        opacity: 0.6;
    }
}

@media (max-width: 424px) {
    .news__title {
        font-size: 32px;
    }
}

@media (max-width: 345px) {
    .news__title {
        font-size: 28px;
    }
}
@media (max-width: 393px) {
    .news__list {
        margin-bottom: 10px;
       }
    .news__item {
        min-height: 260px;
        margin: 0 0 20px 0; 
    }
    .news-paginator__display {
        margin-right: 8px;
    }
    
}
/* ------------------------------------------------------------------------------------------------- */

/* -- ABOUT -- */

.about {
    background: url("./img/men.png") center top no-repeat;
    margin-top: -303px;
    margin-bottom: 55px;
    padding-top: 303px;
}

.about__background-layout:before {
    content: "";
    display: block;
    /* vertical-align: top; */
    width: 490px;
    height: 505px;
    border-radius: 5px;
    background: url("./img/gates.jpg") center center / cover no-repeat;
}

.about__background-layout {
    display: flex;
}

.about__main-layout {
    background: url("./img/mountains.jpg") center right / cover no-repeat;
    padding: 69px 200px 65px 81px;
    /* display: inline-block;
    vertical-align: top; */
    max-width: 785px;
    border-radius: 5px;
    margin-left: -136px;
    margin-top: 96px;
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 37px;
    color: #000;
}
.about__text {
    color: #060606;
    margin-bottom: 43px;
    line-height: 27px;
}

.about__text p {
    margin-bottom: 20px;
}

.about__text p:last-child {
    margin-bottom: 0;
}
@media (max-width: 1086px) {
    .about {
        margin-top: -350px;
        padding-top: 303px;
    }
    .about__background-layout::before {
        display: none;
    }
    .about__background-layout {
        justify-content: center;
    }
    .about__main-layout {
        max-width: 885px;
        margin: 0 8px 0 8px;
    }
}
@media (max-width: 726px) {
    .about__main-layout {
        padding: 69px 120px 65px 70px;
    }
}
@media (max-width: 686px) {
    .about__title {
        margin: 0 0 20px 0;
    }
    .about__main-layout {
        padding: 69px 120px 65px 50px;
    }
}
@media (max-width: 615px) {
    .about__main-layout {
        background: url("./img/mountains.jpg") center center / cover no-repeat;
    }
    .about__title {
        margin: 0 0 10px 0;
    }
    .about__main-layout {
        padding: 40px 120px 40px 40px;
    }
}
@media (max-width: 425px) {
    .about__main-layout {
        padding: 40px 30px 40px 30px;
    }
    @media (max-width: 424px) {
        .about__title {
            font-size: 32px;
        }
    }
    @media (max-width: 345px) {
        .about__title {
            font-size: 28px;
        }
        .about__main-layout {
            padding: 30px 30px 30px 30px;
        }
        .about__text {
            margin-bottom: 25px;
            line-height: 27px;
            font-size: 14px;
        }
    
    }
}
/* ------------------------------------------------------------------------------------------------- */

/* -- FOOOTER -- */

.footer-container {
    margin-top: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    align-items: flex-end;
}

.footer-container__section {
    height: 132px;
}

.footer-container__content {
    border-top: 1px solid;
    border-color: rgba(255,255,255,0.1);
}

.social-media__list {
    margin-right: 74px;
    /* position:absolute;
    top: 32px;
    right: 264px; */
}
.social-media__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
}

.social-media__item:last-child {
    margin-right: 0;
}

.social-media__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.social-media__link:hover:before {
    opacity: 1;
}

.social-media__link:hover:after {
    opacity: 0;
}

.social-media__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    transition: .5s;
}

.social-media__link::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    opacity: 0;
    transition: .5s;
}

.social-media__item--icon--telegram .social-media__link:after {
    background: url("./img/sprite.png") -10px -10px;
}

.social-media__item--icon--vk .social-media__link:after {
    background: url("./img/sprite.png") -122px -10px;
}

.social-media__item--icon--fb .social-media__link:after {
    background: url("./img/sprite.png") -234px -10px;
}

.social-media__item--icon--instagram .social-media__link:after {
    background: url("./img/sprite.png") -346px -10px;
}

.social-media__item--icon--telegram .social-media__link:before{
    background: url("./img/sprite.png") -66px -10px;
}

.social-media__item--icon--vk .social-media__link:before {
    background: url("./img/sprite.png") -178px -10px;
}

.social-media__item--icon--fb .social-media__link:before {
    background: url("./img/sprite.png") -290px -10px;
}

.social-media__item--icon--instagram .social-media__link:before {
    background: url("./img/sprite.png") -402px -10px;
}

@media (max-width: 932px) {
    .menu__bottom {
        display: none;
    }
    .social-media__list {
        margin: 0 50px 0 0;
    }
}

@media (max-width: 520px) {
    .social-media__list {
        margin: 0 20px 0 0;
    }
}

@media (max-width: 483px) {
    .social-media__list {
        margin: 0 10px 0 0;
    }
    .contacts__bottom {
        max-width: 100px;
    }
}
@media (max-width: 415px) {
    .footer__col--align--right {
        display: flex;
        flex-direction: column;
    }
    .social-media__list {
        margin: 0 0 10px 0;
    }
    .contacts__bottom {
        min-width: 200px;
    }
}
/* ------------------------------------------------------------------------------------------------ */


/* -- SERVICE -- */

   .top-line {
    display:flex;
    /* flex-direction: column; */
    min-height: 412px;
    background: url("./img/headline1.png") center center / cover no-repeat;
    padding-bottom: 21px;
}

.page__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 38px;
}

.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: bold;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9a9a9a;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.page-content {
    background: #F2F2F2;
    color: #303030;
    padding: 98px 0px 91px 0px;
}

.attractions {
    margin-bottom: 75px;
}

.attraction {
    display: flex;
    text-decoration: none;
}

.attraction__btn:hover {
    background: #F5170E;
    color: #FFFFFF;
    transition: 0.8s;
}

.attractions__item {
    margin-bottom: 60px;
}

.attraction__img {
    width: 460px;
    margin-right: 57px;
}

.attraction__content {
    flex: 1;
    padding: 20px 0;
}

.attraction__title {
    font-size: 36px;
    line-height: 32px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 38px;
}

.attraction__desc {
    line-height: 27px;
    margin-bottom: 34px;
}

.attraction__btn {
    padding: 17px 39px;
}

.inner-section {
    background: #F4F5F5;
    color: #1A1B1E;
    padding: 77px 0;
}

.inner-section--bf--gray {
    background: #F4F5F5;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 52px;
}

.partners {
    display: flex;
    flex-wrap: wrap ;
}

.partners__item {
    margin-right: -20px;
}

.partners__item:nth-child(4n) .partners__link{
    justify-content: end;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 300px;
    height: 128px;
    align-items: center;
    justify-content: start;
    filter: grayscale(100%);
}

.partners__link-black {
    opacity: 0.8;
}

.partners__link:hover {
    filter: grayscale(0);
    transition: 0.8s;
}

.partners__link-black:hover {
    opacity: 1;
    transition: 0.8;
}

.inner-footer__container {
    padding: 50px 0;
}

.inner-footer {
    margin-top: auto;
}


@media (max-width: 1170px) {
    .page-content {
        padding: 70px 0 50px 0;
    }
    .inner-section__title {
        margin: 0 0 10px 20px;
        font-size: 40px;
    }
    .inner-section {
        padding: 40px 0;
    }
    .partners__link {
        width: 250px;
        height: 100px;
        scale: 0.8;
    }
}


@media (max-width: 1118px) {
    .attraction__img {
        margin-right: 30px;
    }
    .attraction__title {
        margin-bottom: 20px;
    }
    .attraction__desc {
        margin-bottom: 20px;
    }
}


@media (max-width: 1024px) {
    .top-line {
        min-height: 300px;
    }
    .page__title {
        font-size: 50px;
    }
}
@media (max-width: 1000px) {
    .attraction__content {
        padding: 0;
        /* min-height: 333px; */
        /* max-height: 333px; */
    }
    .attraction__img {
        flex: 1;
    }
    .attraction__img-elem {
        height: 100%;
        object-fit: cover;
    }
    .attraction__desc {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .page-content {
        padding: 50px 0 30px 0;
    }
    .inner-section__title {
        margin: 0 0 10px 25px;
        font-size: 40px;
    }
    .inner-section {
        padding: 30px 0;
    }
    .partners__link {
        width: 220px;
        height: 80px;
        scale: 0.7;
    }
}


@media (max-width: 764px) {
    .attractions {
        display: flex;
        flex-direction: column;
    }
    .attraction {
        flex-direction: column;
        /* max-height: 600px; */
        align-items: center;
    }
    .attraction__title {
        text-align: center;
    }
    .attraction__img {
        margin: 0 5px 10px 5px;
        width: auto;
        min-width: 300px;
    }
    .attraction__content {
        display: flex;
        flex-direction: column;
    }
    .attraction__desc {
        margin: 0 0 10px 0;
    }
    .news-paginator--theme--dark {
        margin-top: -100px;
    }
}


@media (max-width: 519px) {
    .page__title {
        font-size: 40px;
    }
    .attraction__title {
        font-size: 36px;
    }
}
@media (max-width: 425px) {
    .top-line {
        min-height: 260px;
    }
    .page__title {
        font-size: 36px;
    }
    .attraction__title {
        font-size: 30px;
    }
    .inner-section__title {
        font-size: 30px;
    }
}

@media (max-width: 419px) {
    .page-content {
        padding: 40px 0 20px 0;
    }
    .inner-section__title {
        margin: 0 0 10px 32px;
    }
    .inner-section {
        padding: 30px 0;
    }
    .partners__link {
        width: 190px;
        height: 70px;
        scale: 0.6;
    }
}

@media (max-width: 359px) {
    .partners__link {
        width: 170px;
        height: 60px;
        scale: 0.6;
    }
}

@media (max-width: 345px) {
    .page__title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .attraction__title {
        font-size: 26px;
    }
    .attraction__desc {
        margin: 0;
    }
    .inner-section__title {
        font-size: 26px;
    }
    .news-paginator--theme--dark {
        margin-top: -66px;
    }
}


 /* ----------------------------------------------------------------------------------------------- */

/* -- REWIEWS -- */

.reviewes {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 34px;
}

.review__photo {
    margin-right: 17px;
}

.reviewes__item {
    margin-bottom: 20px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #F4F5F5;
}

.review__header {
    display: flex;
    align-items:center;
    margin-bottom: 30px;
}

.review__user {
    display: flex;
    align-items:center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 11px;
}

.review__user:after {
    content: url(/img/vk-blue-1.png);
    height: 26px;
}

.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 8px 16px;
    border-radius: 35px;
    background: #E7E7E7;
}

.tag--bg--green {
    background: #B9EAE4;
}

.review__title {
    font-size: 30px;
    font-weight: bold;
    color: #1A1B1E;
    margin-bottom: 23px;
}

.review__content-text {
    margin-bottom: 36px;
}

.review__date {
    font-size: 14px;
    color: #1A1B1E;
    font-weight: bold;
}

.separator {
    background: url("./img/Rectangle.png") center center / cover no-repeat;
    min-height: 361px;
    display: flex;
    align-items: flex-end;
    margin-top: -3px;
}

.separator__content {
    display: flex;
    align-items: center;
}

.separator__title {
    display: inline-block;
    font-size: 48px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 32px;
    margin-right: 24px;
}

.write-a-review {
    margin-top: -10px;
}

.form__row {
    display: flex;
    margin-bottom: 25px;  
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #FFFFFF;
    padding: 22px 30px;
    font-size: 18px;
    color: #666666;
}

.form__input-name {
    color: #1A1B1E;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input-textarea {
    height: 235px;
    padding: 28px 30px;
}

.form__controls {
    display: flex;
    margin-bottom: 24px;
}

.form--controls-title {
    font-size: 18px;
    line-height: 21px;
    width: 38%;
    padding-top: 10px;
}

.controls {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 10px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;
}

.controls__checkbox {
    display: none;
}


.form__btns {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 21px;
}

.form__btn {
    margin-right: 17px;
}

.form__btn:last-child {
    margin-right: 0;
}

@media (max-width: 882px) {
    .separator__title {
        font-size: 40px;
        margin: 32px -20px 0 0;
        min-width: 293px;
    }
}
@media (max-width: 764px) {
    .news-paginator--reviews {
        margin: 18px 0 26px 0;
    }
}
@media (max-width: 760px) {
    .reviewes {
        column-count: 1;
        margin: 0 0 18px;
    }
    .review {
        padding: 16px 16px;
    }
    .review__content-text {
        margin-bottom: 16px;
    }
}
@media (max-width: 732px) {
    .separator__title {
        font-size: 30px;
        margin: 16px 0 0 0;
        min-width: 300px;
        text-align: center;
    }
    .separator__content {
        flex-direction: column;
    }
    .form__controls {
        flex-direction: column;
    }
    .form--controls-title {
        width: 100%;
        margin-bottom: 16px;
    }
    .form__btns {
        justify-content: center;
    }
}
@media (max-width: 565px) {
    .form__row {
        flex-direction: column;
    }
    .form__input-name {
        margin: 0 0 25px 0;
    }
}

@media (max-width: 370px) {
    .review__header {
        flex-direction: column;
    }
    .review__title {
        text-align: center;
        font-size: 24px;
    }
    .review__photo {
        scale: 0.8;
    }
    .separator {
        min-height: 280px;
    }
    .separator__title {
        font-size: 24px;
    }
    .form__btns {
        flex-direction: column;
        max-width: 170px;
    }
    .form__btn {
        margin: 0 0 17px 0;
    }
    .tag {
        padding: 8px 14px;
    }
}
/* ------------------------------------------------------------------------------------------------ */

/* -- WELCOME -- */

.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(/img/bg.png) center bottom / cover no-repeat;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* animation: scale 0.9s 1s both ease-out; */
    animation-name: scale;
    animation-duration: 0.9s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

.central__title {
    margin-bottom: 52px;
}

@keyframes scale {
    from {
        transform: scale(0);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .central {
        scale: 0.9;
    }
}

@media (max-width: 425px) {
    .central {
        scale: 0.8;
    }
}

@media (max-width: 320px) {
    .central {
        scale: 0.7;
    }
}